/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small touch devices */
/* line 16, ../sass/responsive.smalltouch.landscape.scss */
body {
  text-align: justify;
  font-size: 81.3%;
}

/* line 20, ../sass/responsive.smalltouch.landscape.scss */
.container {
  width: 100%;
}

/* =============================================================================
 *   Mobile Menu Toggle
 *   See your theme settings extensions for how to enable the menu toggle.
 *   These are example styles for the menu toggle menu, you can use these in the
 *   relevant responsive stylesheets as required. Modify to suit your design.
 * ========================================================================== */
/* line 32, ../sass/responsive.smalltouch.landscape.scss */
.at-mt .at-menu-toggle {
  /* The toggle link */
  /* Menu items */
}
/* line 34, ../sass/responsive.smalltouch.landscape.scss */
.at-mt .at-menu-toggle h2 {
  margin-bottom: 5px;
}
/* line 37, ../sass/responsive.smalltouch.landscape.scss */
.at-mt .at-menu-toggle h2 a {
  background: #eee;
  border: 2px solid #ccc;
  padding: 2px 10px;
}
/* line 45, ../sass/responsive.smalltouch.landscape.scss */
.at-mt .at-menu-toggle ul.menu li a {
  background: #eee;
  border-bottom: 1px solid #fff;
}

/*
 * Header
 */
/* line 57, ../sass/responsive.smalltouch.landscape.scss */
#header-wrapper header {
  padding-top: 12px;
}
/* line 60, ../sass/responsive.smalltouch.landscape.scss */
#header-wrapper header #menu-bars {
  display: inline-block;
}
/* line 63, ../sass/responsive.smalltouch.landscape.scss */
#header-wrapper header #branding {
  margin: 0;
}
/* line 65, ../sass/responsive.smalltouch.landscape.scss */
#header-wrapper header #branding #logo {
  width: 113px;
  height: 30px;
}
/* line 70, ../sass/responsive.smalltouch.landscape.scss */
#header-wrapper header #mobile-icons-wrapper {
  display: inline-block;
}

/* line 76, ../sass/responsive.smalltouch.landscape.scss */
#utility_nav {
  display: none;
}

/* line 80, ../sass/responsive.smalltouch.landscape.scss */
#menu-bars {
  display: inline-block;
}

/* line 84, ../sass/responsive.smalltouch.landscape.scss */
#nav-wrapper {
  border-top: none;
}
/* line 86, ../sass/responsive.smalltouch.landscape.scss */
#nav-wrapper .container {
  position: absolute;
}
/* line 88, ../sass/responsive.smalltouch.landscape.scss */
#nav-wrapper .container #main-header-menu {
  display: none;
  background-color: #FFF;
}
/* line 94, ../sass/responsive.smalltouch.landscape.scss */
#nav-wrapper .container #main-header-menu > ul.menu > li {
  width: 92%;
  border: 1px solid #293F6A;
}
/* line 98, ../sass/responsive.smalltouch.landscape.scss */
#nav-wrapper .container #main-header-menu > ul.menu > li.multi-level > ul {
  column-count: 1;
}
/* line 102, ../sass/responsive.smalltouch.landscape.scss */
#nav-wrapper .container #main-header-menu > ul.menu > li.main-menu-select {
  background-color: #DDAB17;
}
/* line 105, ../sass/responsive.smalltouch.landscape.scss */
#nav-wrapper .container #main-header-menu > ul.menu > li.main-menu-select > a {
  color: #000;
}
/* line 109, ../sass/responsive.smalltouch.landscape.scss */
#nav-wrapper .container #main-header-menu > ul.menu > li.main-menu-select > span {
  color: #000;
}
/* line 113, ../sass/responsive.smalltouch.landscape.scss */
#nav-wrapper .container #main-header-menu > ul.menu > li.main-menu-select > ul.menu {
  display: block;
}
/* line 118, ../sass/responsive.smalltouch.landscape.scss */
#nav-wrapper .container #main-header-menu > ul.menu > li > span {
  color: #737373;
  float: right;
  padding: 20px 25px;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 127, ../sass/responsive.smalltouch.landscape.scss */
#nav-wrapper .container #main-header-menu > ul.menu > li > a {
  color: #737373;
  font-size: 16px;
  padding: 20px;
  display: block;
}
/* line 134, ../sass/responsive.smalltouch.landscape.scss */
#nav-wrapper .container #main-header-menu > ul.menu > li > ul.menu {
  background-color: #FFF;
  position: static;
}
/* line 138, ../sass/responsive.smalltouch.landscape.scss */
#nav-wrapper .container #main-header-menu > ul.menu > li > ul.menu > li {
  padding: 10px;
}
/* line 141, ../sass/responsive.smalltouch.landscape.scss */
#nav-wrapper .container #main-header-menu > ul.menu > li > ul.menu > li ul.menu {
  margin-left: 10px;
}
/* line 147, ../sass/responsive.smalltouch.landscape.scss */
#nav-wrapper .container #main-header-menu > ul.menu > li > ul.menu .topnav_submenu_item a {
  font-size: 16px;
  line-height: 21px;
  text-transform: none;
  color: #737373;
}
/* line 154, ../sass/responsive.smalltouch.landscape.scss */
#nav-wrapper .container #main-header-menu > ul.menu > li > ul.menu .topnav_submenu_title {
  border: none;
  color: #737373;
  font-size: 16px;
  font-weight: normal;
}
/* line 164, ../sass/responsive.smalltouch.landscape.scss */
#nav-wrapper .container #main-header-menu.show-header-nav {
  display: block;
  position: absolute;
  top: 0;
}

/* line 173, ../sass/responsive.smalltouch.landscape.scss */
#footer-wrapper {
  margin-bottom: 20px;
}

/* Marketo Form */
/* line 177, ../sass/responsive.smalltouch.landscape.scss */
.mkto-content-main {
  width: 100%;
}
/* line 180, ../sass/responsive.smalltouch.landscape.scss */
.mkto-content-main #mkto-content {
  padding: 0px 30px 60px 30px;
}
/* line 183, ../sass/responsive.smalltouch.landscape.scss */
.mkto-content-main #mkto-content #mkt-prod-details {
  width: 30%;
  margin-right: 10px;
}
@media only screen and (max-width: 470px) {
  /* line 183, ../sass/responsive.smalltouch.landscape.scss */
  .mkto-content-main #mkto-content #mkt-prod-details {
    width: 100%;
  }
}
/* line 190, ../sass/responsive.smalltouch.landscape.scss */
.mkto-content-main #mkto-content #mkt-prod-details #mkt-prod-title {
  font-size: 18px;
  margin-top: 20px;
}
/* line 195, ../sass/responsive.smalltouch.landscape.scss */
.mkto-content-main #mkto-content #mkt-prod-details #mkt-prod-img-left,
.mkto-content-main #mkto-content #mkt-prod-details #mkt-prod-img-right {
  width: 131px;
  margin-top: 15px;
}
/* line 201, ../sass/responsive.smalltouch.landscape.scss */
.mkto-content-main #mkto-content #mkt-prod-details #mkt-prod-content {
  font-size: 14px;
  line-height: 21px;
  width: 100%;
  margin-top: 20px;
  float: none;
  text-align: justify;
}
/* line 211, ../sass/responsive.smalltouch.landscape.scss */
.mkto-content-main #mkto-content #mkto-content-main-form {
  float: right;
  width: 65%;
  border: 2px solid #DDD;
  margin-top: 45px;
}
@media only screen and (max-width: 470px) {
  /* line 211, ../sass/responsive.smalltouch.landscape.scss */
  .mkto-content-main #mkto-content #mkto-content-main-form {
    width: 100%;
  }
}
/* line 220, ../sass/responsive.smalltouch.landscape.scss */
.mkto-content-main #mkto-content #mkto-content-main-form #mkto-form-header {
  padding: 5px;
}
/* line 223, ../sass/responsive.smalltouch.landscape.scss */
.mkto-content-main #mkto-content #mkto-content-main-form #mkto-form {
  padding: 20px 0;
}
/* line 228, ../sass/responsive.smalltouch.landscape.scss */
.mkto-content-main #mkto-content #mkt-more-links-content {
  margin-top: 20px;
}
/* line 233, ../sass/responsive.smalltouch.landscape.scss */
.mkto-content-main #mkto-content #mkt-contact-info {
  margin-top: 20px;
}

/*
 * Footer region
 */
/* line 243, ../sass/responsive.smalltouch.landscape.scss */
.region-footer {
  font-size: 7px;
  border-top: 0.5px solid #979797;
}
/* line 247, ../sass/responsive.smalltouch.landscape.scss */
.region-footer #block-menu-menu-footer-main-menu {
  float: none;
  width: 315px;
  margin: 0 auto;
}
/* line 253, ../sass/responsive.smalltouch.landscape.scss */
.region-footer #block-block-11 {
  float: none;
  width: 200px;
  margin: 0 auto;
}
/* line 259, ../sass/responsive.smalltouch.landscape.scss */
.region-footer #block-menu-menu-footer-social-links {
  float: none;
  width: 135px;
  margin: 0 auto;
}

/*# sourceMappingURL=responsive.smalltouch.landscape.css.map */
