/* $Id: event.css 26 2015-03-31 22:37:44Z sogden1 $*/
#event {
    margin: 0 50px 0 50px;
}

#event .event-occ-table {
    width: 600px;
}

#event .event-occ-row {
    height: 20px;
}

#event .event-occ-cell {
    padding-left: 10px;
}

#event .event-occ-all-regions {
    padding: 10px 0px 0px 10px;
}

#event-occurrence .sub_title {
    padding-bottom: 10px;
}
