.DS_wrapper_sections .DS_Headline {
    font-size: 1.2em;
    font-weight: bold;
    color: #789D4A;
    text-align: left;
    vertical-align: top;
    font-style: normal;
    line-height: 1.4em;
}

.DS_wrapper_sections .DS_Headline2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #789D4A;
    margin-bottom: 3px;
    vertical-align: top;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
}

.DS_wrapper_sections .DS_Table_Header_Row {
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    background-color: #789d4a;
    padding: 2px;
    text-align: left;
}

body .edocs_type_display {
    float: right;
    padding: 7px 12px 0px 0px;
}

body .ds_footer {
    background-color: #ffffff;
    padding: 10px;
}

body .ds_footer .DS_Footer_TXT {
    display: block;
    background-color: #ffffff;
    padding: 2px;
}


