#stickynav-sticky-wrapper {
    min-width: 1000px;
    width: 100%;
    position: absolute;
    left: 0;
}

#stickynav {
    background-color:#eee;
    background:linear-gradient(180deg, #fff, #ddd 100%) repeat-x scroll 0 0 #ddd;
    width:100% !important;
    min-width: 1000px;
    margin:0;
    padding:0;
    box-shadow:0 0 5px 0 #bbb;
    /* background:url(images/background-nav-product.gif) repeat-x top left transparent; */
    position:absolute;
    left:0;
    border-bottom:1px solid #bbb;
    z-index:500;
}

#stickynav * {
    margin:0;
    padding:0;
    border:0;
}

#stickynav .toc-container {
    width:1000px;
    height:auto;
    margin:0 auto;
    position:relative;
    text-align:center;
}

#stickynav .toc-container a {
    /* Block Styles */
    display:inline-block;
    padding:5px 10px 5px 12px;

    /* Font Styles */
    font-size:14px;
    line-height:24px;
    font-family:Arial,Helvetica,sans-serif;
    color:#555;
    text-decoration:none;
    text-align:center;

    outline:none;
 }
#stickynav .toc-container a:hover,
#stickynav .toc-container a.active {
    background:url(arrow-right-yellow.png) 0 12px no-repeat transparent;
    color:#369;
}

#stickynav .toc-container a#top,
#stickynav .toc-container a#top.active {
    background:url(icon-top.png) 0 9px no-repeat transparent;
}
#stickynav .toc-container a#top:hover {
    background:url(icon-top-active.png) 0 9px no-repeat transparent;
}

#stickynav .toc-container .toc-tracker {
    position:absolute;
    height:10px;
    width:10px;
    border:1px solid #999;
    border-radius:5px;
    background-color:#fdb825;
    box-shadow:2px 2px 0 0 #999;
    bottom:-6px;
}
#stickynav .toc-container .toc-tracker-img {
    position:absolute;
    bottom:-8px;
}

a.toc-anchor {
    font-size:0;
    height:0;
}