/* Promotions Page */
#promotions-page-content .page-section-title {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 32px;
    color:#336699;
    margin:30px 0 10px;
    padding-bottom:10px;
    text-align:center;
    background: url(images/dot-blue.gif) 0 20px repeat-x transparent;
}

#promotions-page-content .page-section-title span {
    display: inline-block;
    position: relative;
    padding: 0 1em;
    background-color: #fff;
}

#promotions-page-content .promotion-instance {
    padding-bottom:20px;
    margin-bottom:30px;
    border-bottom:1px solid #ddd;
}

#promotions-page-content .promotion-thumbnail {
    float:left;
    width:75px;
    margin-right:20px;
}
#promotions-page-content .promotion-thumbnail img {
    width:100%;
}
#promotions-page-content .promotion-details {
    float:left;
    width:600px;
    font-size:125%;
}
#promotions-page-content .promotion-details .promotion-title,
#promotions-page-content .promotion-details .promotion-description {
    margin:0 0 5px;
}
#promotions-page-content .promotion-details .promotion-description p {
    margin:0 !important;
    padding:0 !important;
}
#promotions-page-content .promotion-button {
    text-align:center;
    float:right;
    width:auto;
}
#promotions-page-content .promotion-button .promotion-date {
    margin:0 0 5px;
}
