#product-finder-search-form > div > .form-item > label{text-decoration:underline}
#product-finder-search-form .form-item .form-checkboxes{display:table;margin-top:0}
#product-finder-search-form .form-item .form-item{width:450px;display:block;float:left}
#product-finder-search-form .form-checkboxes{width: 100%;_padding-bottom:10px}
ul.product_finder_pager{display:table;float:right;clear:both;}
ul.product_finder_pager li{display:block;float:left;padding:5px;list-style:none;background:none}
div.industry-entry-wrapper{padding-bottom:20px;display:table;}
p.results-found-text{font-style: italic;}
ul.product_finder_results_wrapper{padding:0;margin:0;padding-bottom:20px}
ul.product_finder_results_wrapper li{list-style:none;background:none}
ul.product_finder_results_wrapper li h4{margin-bottom:0;font-size:12px;margin-top:16px}
ul.product_finder_results_wrapper li.description{font-size:12px}
h3.industry-title{margin-bottom:0;text-decoration:none;font-size:24px}