/* $Id: idoco.css 1032 2013-07-09 19:12:54Z sogden1 $ */

#idoco-wrapper {
  width: 100%;
}
#idoco-wrapper tbody {
  border: solid 1px;
}
#idoco-sidebar {
    float: left;
}
#idoco-search {
    width: 215px;
    height: 70px;
    padding: 0 10px;
    border: 2px solid #0080c5;
    border-radius: 5px;
    margin: 0 0 5px;
}
#idoco-search-box .form-item, #idoco-search-box .submit-button {
    float: left;
}
#idoco-search-box .submit-button {
    margin: 26px 0 0 10px;
}

#results-search-box {
    height: 70px;
    width: 100%;
    clear: both;
}

div.idoco-form-left, div.idoco-form-right {
    width: 350px;
    float: left;
}

div.idoco-form-right {
    margin: 0 0 0 10px;
}

div.idoco-form-action {
    clear: both;
}

div.idoco-form-button {
    margin: 10px 10px 10px 10px;
    float: left;
}

div.idoco-form-cancel-link {
    float: left;
    padding-top: 12px;
}

#idoco-nav {
  width: 215px;
  height: auto;
  padding: 0 10px;
  border: 2px solid #0080c5;
  border-radius: 5px;
  font-size: .9em;
  overflow: auto;
}
#idoco-nav h1, #idoco-nav h2 {
  border-bottom: 2px solid #0080c5;
  text-align: center;
}
#idoco-nav h4 {
  cursor: pointer;
  margin: 10px 0;
}
#idoco-nav ul {
  margin: 0 0 0 10px !important;
  padding: 0 0 0 0;
}

#accordion > div > ul {
  display: none;
}
#idoco-nav li {
  margin: 0 0 0 10px !important;
  padding: 0 0 0 0;
}
/* Selected menu section */
#idoco-nav h4.active {
  font-weight: bold;
}
#idoco-nav a.active {
  color: black;
  text-decoration: underline;
}

/* doc content CSS */
#idoco-content {
  float: left;
  width: 680px;
  height: auto;
  margin-left: 15px;
}
#idoco-content a.anchor {
  color: #666666;
}
#idoco-content .Bulletsub_inner {
  margin-left: 20px;
}
#idoco-content .Note_Head, #idoco-content .Note_Body {
  display: none;
}
#idoco-content .Figure_Title,
#idoco-content .TableTitle,
#idoco-content .CellHeading,
#idoco-content .Heading1,
#idoco-content .Heading2,
#idoco-content .Heading3
{
  font-weight: bold;
  padding: 10px 0;
}

table.confluenceTable {
    margin-bottom: 10px;
}

table.confluenceTable th.confluenceTh,
table.confluenceTable td.confluenceTd {
    border: 1px solid #ddd;
    padding: 5px 7px;
    vertical-align: top;
    min-width: 0.6em;
    text-align: left;
}

table.confluenceTable th.confluenceTh,
table.confluenceTable th.confluenceTh > p,
table.confluenceTable td.confluenceTd.highlight,
table.confluenceTable td.confluenceTd.highlight > p {
    background-color: #f0f0f0;
}

table.confluenceTable th.confluenceTh.info,
table.confluenceTable th.confluenceTh.info > p,
table.confluenceTable td.confluenceTd.highlight.info,
table.confluenceTable td.confluenceTd.highlight.info > p {
    background-color: #e0f0ff;
}

table.confluenceTable th.confluenceTh.success,
table.confluenceTable th.confluenceTh.success > p,
table.confluenceTable td.confluenceTd.highlight.success,
table.confluenceTable td.confluenceTd.highlight.success > p {
    background-color: #ddfade;
}

table.confluenceTable th.confluenceTh.warning,
table.confluenceTable th.confluenceTh.warning > p,
table.confluenceTable td.confluenceTd.highlight.warning,
table.confluenceTable td.confluenceTd.highlight.warning > p {
    background-color: #ffe7e7;
}

table.confluenceTable th.confluenceTh.note,
table.confluenceTable th.confluenceTh.note > p,
table.confluenceTable td.confluenceTd.highlight.note,
table.confluenceTable td.confluenceTd.highlight.note > p {
    background-color: #ffffdd;
}

table.confluenceTable th.confluenceTh,
table.confluenceTable th.confluenceTh > p {
    font-weight: bold;
}

table.confluenceTable th.confluenceTh.nohighlight,
table.confluenceTable th.confluenceTh.nohighlight > p {
    font-weight: normal;
    background-color: transparent;
}
