/* $Id$ */

#edit-locations-0-delete-location-wrapper{display:none}
#field_products{max-width:none}
#multiselect_available{clear:left}
ul#multiselect_btns li{margin-left:5px}
#productErrorDisplayWrapper{border:1px solid #FFA0A0;padding:5px;-moz-border-radius: 3px;-webkit-border-radius: 3px;}
#productErrorDisplayWrapper hr{color:#FFA0A0;background-color:#FFA0A0;display:block;border:0px;height:1px}