#expertise-page-content-wrapper{width:100%;padding-left:7px;display:table}
#expertise-page-content-wrapper * {font-size:11px}

#expertise-page-content-wrapper h1,
#expertise-page-content-wrapper h2,
#expertise-page-content-wrapper h3,
#expertise-page-content-wrapper p {
    margin:0;padding:0;
}

#expertise-banner-wrapper{width:100%;background-color:#FFFFFF;padding:5px;margin-bottom:10px;}
#expertise-banner-wrapper h1{font-size:24px;color:#555555}
#expertise-banner-wrapper .desc{color:gray}
#expertise-content-wrapper{width:100%}
#expertise-content-wrapper #expertise-left-content-wrapper{width:69%;display:table;float:left}
#expertise-content-wrapper #expertise-right-content-wrapper{width:29%;display:table;float:right;border-left:1px solid #e9e9e9;padding-left:10px;height:520px}
#expertise-content-wrapper #expertise-left-content-wrapper .section{width:98%;display:table;border-bottom:1px solid #e9e9e9;padding:0 0 5px 5px}
#expertise-content-wrapper #expertise-right-content-wrapper .section{width:98%;display:table;padding:10px 0 5px 5px}
#expertise-content-wrapper .section.last{border-bottom:none!important}
#expertise-content-wrapper .section .section-title, #expertise-content-wrapper #blog{margin:10px 0 0px;width:100%;font-size:18px;font-weight:bold;color:black}
#expertise-content-wrapper .section .section-desc{display:block;color:gray;margin-bottom:10px}
#expertise-left-content-wrapper .section .subsection{width:30%;float:left;margin-top:10px;padding:5px 5px 10px 10px;border-right:1px solid black;}
#expertise-left-content-wrapper .section .subsection.first{padding-left:0;}
#expertise-left-content-wrapper .section .subsection.last{border-right:none;}
#expertise-left-content-wrapper .section .item-title a, #expertise-left-content-wrapper .blogTitle{width:100%;margin-bottom:10px;font-size:14px;font-weight:bold}
#expertise-left-content-wrapper .section .item-desc, #expertise-left-content-wrapper .tag{margin-bottom:16px;display:block}

#expertise-left-content-wrapper #wc-btn-wrapper{display:table}
#expertise-left-content-wrapper #wc-btn-wrapper #alw-btn{float:left}
#expertise-left-content-wrapper #wc-btn-wrapper #aodw-btn{float:left;margin-left:5px;}
#expertise-left-content-wrapper .btn_143w{margin:10px 0 5px}
#expertise-left-content-wrapper #alw-btn{margin-right:5px;}

#expertise-right-content-wrapper .section{padding:10px 0 10px 5px}
#expertise-right-content-wrapper .section.first{padding-top:0}
#expertise-right-content-wrapper .section .section-title{margin-bottom:8px}
#expertise-right-content-wrapper .section .section-desc{margin-bottom:5px;display:block;color:black}
#expertise-right-content-wrapper a{margin-top:5px;display:block}
#expertise-right-content-wrapper .more-link{text-align:left;margin-top:20px}