/* $Id$ */
#product-assets-wrapper table tr {
    border-bottom: 1px solid #CCCCCC
}

#product-assets-wrapper table tr th {
    background-color: #CCCCCC;
    padding: 5px 5px 5px 20px
}

#product-assets-wrapper table tr td {
    padding: 5px 5px 10px 20px
}

#product-assets-wrapper table tr td .file-size {
    width: 70px
}

#product-assets-wrapper table tr.zebra {
    background-color: #EEEEEE
}

#product-assets-wrapper table tr td h4 {
    margin: 0;
    font-size: 14px
}

#product-assets-wrapper img {
    vertical-align: middle
}

#product-assets-form-wrapper .form-item {
    margin: 0
}

#product-assets-download-form, #product-assets-training-form {
    margin-bottom: 15px
}

#product-assets-technical-documents-form {
    display: table;
    width: 100%;
    margin-bottom: 15px
}

#product-assets-technical-documents-form input {
    display: block;
    float: left;
    margin-top: 25px;
    margin-left: 5px
}

#product-assets-technical-documents-form #edit-industry-wrapper {
    display: block;
    float: left
}

#product-assets-manuals-form {
    display: table;
    width: 100%;
    margin-bottom: 15px
}

#product-assets-manuals-form input {
    display: block;
    float: left;
    margin-top: 25px;
    margin-left: 5px
}

#product-assets-manuals-form #edit-product-wrapper {
    display: block;
    float: left
}

#product-assets-form-wrapper {
    display: table;
    width: 100%
}

#product-assets-form-wrapper input {
    display: block;
    float: left;
    margin-top: 25px;
    margin-left: 5px
}

#product-assets-form-wrapper #edit-product-wrapper, #product-assets-form-wrapper #edit-industry-wrapper {
    display: table;
    float: left
}

#product-assets-form-wrapper .form-submit {
    margin: 13px 0 0 10px
}

div.asset-description {
    font-size: 12px;
}

div.file-size {
    font-size: 10px;
}