/* $id: $ */

#app-visibility tr.even {
    background-color: #ececec;
}

#app-visibility tr.odd {
    background-color: #d4d4d4;
}

#app-visibility td {
    padding: 10px 10px 10px 10px;
}

#pages {
    width: 900px;

}

#message, #message2, #message3 {
    background-color: red;
    color: white;
}

#results1, #results2, #results3 {
    display: none;
}

#pages table {
    width: auto;
    margin: 0 0 0 0;
}