
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* Increase the default font size on small touch devices */
body {
  text-align: justify;
  font-size: 81.3%; 
}
.container {width: 100%;}

// #content {
//   margin-right: 20px;
//   margin-left: 20px;
// }

/* =============================================================================
 *   Mobile Menu Toggle
 *   See your theme settings extensions for how to enable the menu toggle.
 *   These are example styles for the menu toggle menu, you can use these in the
 *   relevant responsive stylesheets as required. Modify to suit your design.
 * ========================================================================== */
.at-mt .at-menu-toggle {
  /* The toggle link */
  h2 {
    margin-bottom: 5px;
    
    a {
      background: #eee;
      border: 2px solid #ccc;
      padding: 2px 10px;
    }
  }

  /* Menu items */
  ul.menu li a {
    background: #eee;
    border-bottom: 1px solid #fff;
  }
}

/*
 * Header
 */

#header-wrapper{
  header{
    padding-top: 12px;

    #menu-bars{
      display: inline-block;
      
      a{
        &:hover,&:focus{
          
          #main-header-menu{
            display: block;
          }
        }
      }
    }
    #branding{
      margin: 0;
      #logo{
        width: 113px;
        height: 30px;
      }
    }
    #mobile-icons-wrapper{
      display: inline-block;
    }
  }
}

#utility_nav{
  display: none;
}


#nav-wrapper{
  border-top: none;
  .container{
    position: absolute;
    #main-header-menu{
      display: none;
      background-color: #FFF;

      & > ul.menu{

        & > li{
          width: 92%;
          border: 1px solid #293F6A;

          &.multi-level > ul{
            column-count:1;
          }

          &.main-menu-select{
            background-color: $fnet_yellow;

           & > a{                
              color: #000;
            }

            & > span{
              color: #000;
            }

            & > ul.menu{
              display: block;
            }
          }

          & > span{
            color: #737373;
            float: right;
            padding: 20px 25px;
            position: absolute;
            top: 0;
            right: 0;
          }

          & > a{
            color: #737373;
            font-size: 16px;
            padding: 20px;
            display: block;
          }

          & > ul.menu{
            background-color: #FFF;
            position: static;

            & > li{
              padding: 10px;

              ul.menu{
                margin-left: 10px;
              }
            }

            .topnav_submenu_item {
              a{
                font-size: 16px;
                line-height: 21px;
                text-transform: none;
                color: #737373;
              }            
            }
             .topnav_submenu_title {
              border: none;
              color: #737373;
              font-size: 16px;
              font-weight: normal;
            }
          }
        }
      }
      
      &.show-header-nav{
        display: block;
        position: absolute;
        top: 0;
      }  
    }      
  }
}

#footer-wrapper{
  margin-bottom: 20px;
 }

/* Marketo Form  */
.mkto-content-main {
  text-align: center;
  width: 100%;

  #mkto-content {
    padding: 15px 30px 60px 30px;

    #mkt-prod-details {
      width: 100%;

      #mkt-prod-title {
        font-size: 18px;
      }
      
      #mkt-prod-img-left,
      #mkt-prod-img-right {
        @media only screen and (max-width:275px) {
          display: none;
        }
      }

      #mkt-prod-content {
        font-size: 12px;
        line-height: 16px;
        width: 100%;
        text-align: justify;
      }
    }

    #mkto-content-main-form {
      float: left;
      width: 100%;
      border: 2px solid #DDD;
      margin-top: 20px;

      #mkto-form-header {
        padding: 5px;
      }
    }

    #mkt-more-links-content {
      margin-top: 20px;
      width: 100%;
    }

    #mkt-contact-info {
      margin-top: 20px;
      width: 100%;
    }
  }
}
/*
 * Footer region
 */
.region-footer {
  font-size: 7px;
  border-top: 0.5px solid #979797;

  #block-menu-menu-footer-main-menu{
    float: none;
    width: 315px;
    margin: 0 auto;
    @media only screen and (max-width:320px) {
      width: 70%;
    }
  }

  #block-block-11{
    float: none;
    width: 200px;
    margin: 0 auto;
  }

  #block-menu-menu-footer-social-links{
    float: none;
    width: 135px;
    margin: 0 auto;
  }
}