
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* Increase the body font size on small devices */
body {
  font-size: 100%; 
}
.container {
  width: 100%;
}
// #content {
//   margin-right: 30px;
//   margin-left: 35px;
// }
#footer-wrapper{
  margin-bottom: 20px;
 }

/* Marketo Form page */
.mkto-content-main {
  width: 100%;

  #mkto-content {
    padding: 30px 20px 60px 20px;
    margin-left: 15px;

    #mkt-prod-details {
      width: 42%;

      #mkt-prod-title {
        font-size: 24px;
      }
      
      #mkt-prod-img-left,
      #mkt-prod-img-right {
        width: 160px;
        margin-right: 10px;
      }

      #mkt-prod-content {
        width: auto;
        float: none;
      }
    }

    #mkto-content-main-form {
      width: 53%;

      #mkto-form {
        padding: 15px 0px;
      }
    }

    #mkt-more-links-content {
      margin-top: 30px;
    }

    #mkt-contact-info {
      margin-top: 30px;
    }
  }
}

/*
 * Footer region
 */
.region-footer {
  font-size: 8px;
}