
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete 
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
 body {
  font-size: 100%; 
}
.container {
  width: 100%;
}

/*
 * Nav
 */

#nav-wrapper {
  .container {
    #main-header-menu{

      & > ul.menu{

        & > li{
          margin-right: 0px;

          & > span{
           font-size: 1em;
          }

          &.main-menu-select{
            background-color: $fnet_yellow;

           & > a{                
              color: #000;
            }

            & > span{
             color: #000;
            }

            & > ul.menu{
              display: block;

              & > li{
                width:200px;
              }
            }
          }
        }
      }
    }
  }
}

// #content {
//   margin-right: 30px;
//   margin-left: 35px;
// }
 #footer-wrapper{
  margin-bottom: 20px;
 }
/* Marketo Form  */
.mkto-content-main {
  width: 100%;

  #mkto-content {
    padding: 30px 20px 60px 20px;
    margin-left: 15px;

    #mkt-prod-details {
      width: 55%;
      // width: 620px;
      // @media only screen and (max-width:935px) {
      //   width: 520px;
      // }
      // @media only screen and (max-width:835px) {
      //   width: 415px;
      // }

      #mkt-prod-title {
        font-size: 24px;
      }
      
      #mkt-prod-img-left,
      #mkt-prod-img-right {
        width: 182px;
        margin-right: 10px;
      }

      #mkt-prod-content {
        width: auto;
        float: none;
      }
    }

    #mkto-content-main-form {
      width: 40%;

      #mkto-form {
        padding: 15px;
      }
    }

    #mkt-more-links-content {
      margin-top: 30px;
    }

    #mkt-contact-info {
      margin-top: 30px;
    }
  }
}
/*
 * Footer region
 */
.region-footer {
  font-size: 8px;
}