/* $Id$ */

.banner {
    background: url(images/2621_WB_CIO_Whiteboard_LP_Header_670x200_final.jpg) no-repeat 0 0;
    width: 700px;
    height: 200px;
    float: left;
}

.banner_text_1 {
    float: left;
    width: 420px;
    color: #1E355E;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.banner_text_2 {
    float: left;
    width: 200px;
    line-height: 28px;
    color: #1E355E;
    font-size: 26px;
    text-align: left;
    padding: 0 20px 0 33px;
}

.block-content ul.social_media {
    padding: 1em 0;
    list-style: none;
}

ul.social_media li {
    display:inline-block;
    vertical-align: middle;
}

ul.artile_social_media {
    float: left;
    margin: 0;
    padding: 0;
}

ul.social_media li a {
    display:block;
    font-size:2.25em;
    margin:0 5px;
    text-decoration:none;
}

ul.social_media li a i {
    color:#ffffff;
    transition:all 0.2s ease
}

ul.social_media li a:hover i {
    color:#ddab17;
}


.Articles_main {
    width: 710px;
    /*height: 728px;*/
    float: left;
}

.Articles_main h1 {
    margin: 10px 0 0 0;
    font-size: 16px;
}

.articles {
    float: left;
}

.articles h1 {
    width: 100%;
    font-size: 20px;
    color: #1E355E;
    font-weight: bold;
    margin: 30px 0 15px 0;
}

.articles img {
    width: 210px;
    float: left;
    margin: 0 10px 5px 0;
}

.article_details {
    /*width: 482px;
    margin: 0 0 0 13px;
    float: right;*/
    height: 100%;
}

.article_details .content {
    font-size: 12px;
    margin: 0 0 10px 0;
    height: 172px;
    overflow: hidden;
}

.Tell_It_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #1E355E;
    text-align: left;
    clear: both;
    margin: 0 0 15px 0;
}

.Articles_On-Black {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #1E355E;
    margin: 0 0 10px 0;
    font-weight: bold;
}

.Articles_On-Black a {
    font-size: 18px;
    color: #1E355E;
    font-weight: bold;
}

.Articles_On-Black_1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #1E355E;
    margin: 0 0 10px 0;
    font-weight: bold;
}

.fb_iframe_widget {
    margin: 5px 10px 0 0;
    float: left;
}

#custom-tweet-button {
    float: left;
}

#custom-tweet-button a {
    display: block;
    width: 32px;
    height: 32px;
    background: url('https://twitter.com/favicons/favicon.ico') 0 center no-repeat;
}

.view-cio-brief .views-field-title {
    margin: 15px 0 0 0;
}

.view-cio-brief .views-field-php-3 a {
    display: block;
    float: left;
    width: 32px;
    height: 32px;
    background: url('https://twitter.com/favicons/favicon.ico') 0 center no-repeat;
}

.view-cio-brief .views-field-body {
    display: block;
    float: left;
    width: 400px;
}

.view-cio-brief .views-field-field-teaser-image {
    display: block;
    float: left;
    width: 240px;
}

.view-cio-brief .views-field-nothing {
    display: block;
    float: right;
}

.view-cio-brief .views-field-php {
    display: block;
    clear: both;
}

.view-cio-brief a.read-more {
    display: block;
    background: url(images/read-more-30px.jpg) 0 0 no-repeat;
    height: 30px;
    width: 30px;
    margin: 150px 0 0 0;
}

/* node */
.node-cio-brief h1.node-title {
    font-size: 18px;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 10px 0;
}

#block-views-cio-brief-block-1 h2.block-title {
    font-size: 18px;
}

/* Logo block */
#cio-block-logo a {
    display: block;
    background: url(images/2621_WB_CIO_banner_205px.jpg) no-repeat 0 0;
    width: 205px;
    height: 66px;
    margin: 20px 0 0 0;
}

/* Resources block */

.resources {
    background-color: #E0E0E0;
    clear: both;
    padding: 15px;
    float: left;
}

.resources span {
    clear: both;
    float: left;
    padding: 0 30px 60px 30px;
}

.white_paper_icon {
    background: url(http://www.flukenetworks.com/sites/flukenetworks.com/files/assets/2621_CIO_whitepaper-Icon_60px.jpg) no-repeat;
    background-size: cover;
}

.video {
    background: url(http://www.flukenetworks.com/sites/flukenetworks.com/files/assets/2621_CIO_Video-Icon_60px.jpg) no-repeat;
    background-size: cover;
}

.Webinars {
    background: url(http://www.flukenetworks.com/sites/flukenetworks.com/files/assets/2621_CIO_Webinar-Icon_60px.jpg) no-repeat;
    background-size: cover;
}

.Research {
    background: url(http://www.flukenetworks.com/sites/flukenetworks.com/files/assets/2621_CIO_Research-Icon_60px.jpg) no-repeat;
    background-size: cover;
}

.Blogs {
    background: url(http://www.flukenetworks.com/sites/flukenetworks.com/files/assets/2621_CIO_blog-Icon_60px.jpg) no-repeat;
    background-size: cover;
}

.resources h2 {
    font-size: 18px;
    margin: 20px 0 0 0;
    text-align: center;
    color: #666;
}

.resources h3 {
    padding: 0 0 20px 0;
    font-size: 18px;
    font-weight: bold;
    color: #0E396E;
}

.resources ul {
    margin: 10px 0 25px 0;
    float: left;
    clear: both;
    padding: 0;
}

.resources ul li {
    list-style: none;
    display: inline-block;
    width: 100%;
}

.resources ul li:before {
    content: ">>";
    font-family: cursive;
    float: left;
    line-height: 10px;
    height: 15px;
    padding-right: 5px;
}

.resources ul li a {
    color: #000;
    cursor: pointer;
}

.resources ul li a:hover {
    text-decoration: underline;
}

/* Subscribe block */

.subscribe_div {
    padding: 10px 0;
    font-size: 12px;
    margin: 10px 0 0 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2377af+0,293f6a+57 */
    background: #293f6a; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #2377af 0%, #293f6a 57%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#2377af), color-stop(57%,#293f6a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #2377af 0%,#293f6a 57%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #2377af 0%,#293f6a 57%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #2377af 0%,#293f6a 57%); /* IE10+ */
    background: linear-gradient(135deg,  #2377af 0%,#293f6a 57%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2377af', endColorstr='#293f6a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}

.subscribe_div_title h3 {
    color: #ffffff;
    font: 2.5em/1em "Roboto", Arial, Helvetica, "Verdana", sans-serif;
    text-align: center;
    text-transform:uppercase;
    margin:1em 0 0.75em;
}

.subscribe_div_title h3 #word-subscribe {
    color: #ffffff;
    font-size:1.3em;
}

.subscribe_div_title h3 #word-and {
    color: #ddab17;

}

.subscribe_div_title h3 #word-connect {
    color: #ffffff;

}

.subscribe_div_title p {
    color:#ffffff;
    font:1em "Roboto", Arial, sans-serif;
    width:80%;
    margin:0 auto;
}

.subscribe_div_form {

}

#cio-brief-input-wrapper {
    margin:0 auto;
    width:90%;
    overflow:hidden;
}

span.mktFormMsg {
    clear: both;
}

div#mktContent {
    position: relative;
    height: 450px;
    width: 325px;
}

div#lpeCDiv_6663 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 15;
}

span.mktError span.mktFormMsg {
    display: inline;
    position: absolute;
    top: 20px !important;
    left: 0 !important;
    color: red;
    font-size: small;
    width: 200px;
}

form.lpeRegForm ul {
    font-size: 12px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

form.lpeRegForm ul input {
    font-size: 12px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

form.lpeRegForm ul input[type='text'] {
    font-size: 12px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

form.lpeRegForm ul textarea {
    font-size: 12px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

form.lpeRegForm ul select {
    font-size: 12px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

form.lpeRegForm li {
    margin-bottom: 10px;
}

form.lpeRegForm .mktInput {

}

form.lpeRegForm label {
    width: 90px;
}

#block-cio-brief-cio-brief-subscribe form.lpeRegForm input.mktFormText {
    border: 0;
    padding: 0.4em 0 0.4em 0.4em;
    font:300 1.75em "Roboto", Arial, sans-serif;
    width:100%;
}

form.lpeRegForm textarea {
    width: 150px;
}

form.lpeRegForm select {
    width: 154px;
}
#cio-brief-subscribe-button {
    
}

#cio-brief-subscribe-button a {
    color:#293f6a;
    display:block;
    width:90%;
    margin:1em auto;
    padding:0.75em 0;
    border-radius:2px;
    font:500 1.3em "Roboto", Arial, sans-serif;
    text-transform:uppercase;
    text-align:center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edb11a+0,ddab17+50,c99316+100 */
    background: #edb11a; /* Old browsers */
    background: -moz-linear-gradient(top,  #edb11a 0%, #ddab17 50%, #c99316 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#edb11a), color-stop(50%,#ddab17), color-stop(100%,#c99316)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #edb11a 0%,#ddab17 50%,#c99316 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #edb11a 0%,#ddab17 50%,#c99316 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #edb11a 0%,#ddab17 50%,#c99316 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #edb11a 0%,#ddab17 50%,#c99316 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edb11a', endColorstr='#c99316',GradientType=0 ); /* IE6-9 */

}

.search_btn a {
    background: #0E396E;
    padding: 5px 0 5px 0;
    display: block;
    color: #FFF;
    font-family: monospace;
}

#cio-brief-social-wrapper {
    text-align:center;
}
