@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300);
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small touch devices */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000316}}
body {
  font-size: 100%;
}

/* =============================================================================
 *   Mobile Menu Toggle
 *   See your theme settings extensions for how to enable the menu toggle.
 *   These are example styles for the menu toggle menu, you can use these in the
 *   relevant responsive stylesheets as required. Modify to suit your design.
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000326}}
.at-mt .at-menu-toggle {
  /* The toggle link */
  /* Menu items */
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000328}}
.at-mt .at-menu-toggle h2 {
  margin-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000331}}
.at-mt .at-menu-toggle h2 a {
  background: #eee;
  border: 2px solid #ccc;
  padding: 2px 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000339}}
.at-mt .at-menu-toggle ul.menu li a {
  background: #eee;
  border-bottom: 1px solid #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000345}}
#sign-in-wrapper {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000349}}
#resources {
  padding: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000352}}
#resources #resources-inner {
  -webkit-flex-direction: column;
  flex-direction: column;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000356}}
#resources #resources-inner .linkware-resource .linkware-grey {
  font-size: 1.25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000362}}
#maximize-the-benefit #maximize-the-benefit-inner {
  -webkit-flex-flow: column;
  flex-flow: column;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000366}}
#maximize-the-benefit #maximize-the-benefit-inner div {
  margin: 0 10%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000369}}
#maximize-the-benefit #maximize-the-benefit-inner div h2 {
  font-size: 2.25em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000372}}
#maximize-the-benefit #maximize-the-benefit-inner div p {
  font-size: 1.25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000380}}
#visibility #visibility-inner #visibility-left {
  -webkit-flex: 1 1 50%;
  flex: 1 1 50%;
  margin: 2% 10%;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000387}}
#visibility #visibility-inner #visibility-right {
  -webkit-flex: 1 1 50%;
  flex: 1 1 50%;
  margin: 2% 10%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000394}}
#customers-think {
  padding: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000397}}
#customers-think #customers-think-inner {
  max-width: 980px;
  padding: 1em 0;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003102}}
#customers-think #customers-think-inner blockquote {
  line-height: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003105}}
#customers-think #customers-think-inner blockquote p {
  font-size: 1.25rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003109}}
#customers-think #customers-think-inner .button-wrapper {
  padding: 1.25em 1.5em;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003113}}
#customers-think #customers-think-inner .button-wrapper .action-button {
  display: block;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003123}}
#test-result-management #test-result-management-inner div#test-result-management-left {
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
  -webkit-order: 2;
  order: 2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003129}}
#test-result-management #test-result-management-inner div#test-result-management-left p {
  font-size: 1.25em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003133}}
#test-result-management #test-result-management-inner div#test-result-management-right {
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
  -webkit-order: 1;
  order: 1;
  padding: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003140}}
#test-result-management #test-result-management-inner div#test-result-management-right img {
  max-width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003148}}
#turbocharge #turbocharge-inner div#turbocharge-left {
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
  -webkit-order: 2;
  order: 2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003154}}
#turbocharge #turbocharge-inner div#turbocharge-left p {
  font-size: 1.25em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003157}}
#turbocharge #turbocharge-inner div#turbocharge-left .button-wrapper {
  text-align: right;
  padding: 1.25em 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003161}}
#turbocharge #turbocharge-inner div#turbocharge-left .button-wrapper a {
  display: block;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003168}}
#turbocharge #turbocharge-inner div#turbocharge-right {
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
  -webkit-order: 1;
  order: 1;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003175}}
#turbocharge #turbocharge-inner div#turbocharge-right img {
  max-width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003181}}
#manage-your-testers #manage-your-testers-inner div {
  margin: 0 2%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003184}}
#manage-your-testers #manage-your-testers-inner div#manage-your-testers-left {
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003188}}
#manage-your-testers #manage-your-testers-inner div#manage-your-testers-left img {
  max-width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003193}}
#manage-your-testers #manage-your-testers-inner div#manage-your-testers-right {
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003197}}
#manage-your-testers #manage-your-testers-inner div#manage-your-testers-right p {
  font-size: 1.25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003205}}
#setup-testers #setup-testers-inner div#setup-testers-left {
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
  -webkit-order: 2;
  order: 2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003211}}
#setup-testers #setup-testers-inner div#setup-testers-left p {
  font-size: 1.25em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003216}}
#setup-testers #setup-testers-inner div#setup-testers-right {
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
  -webkit-order: 1;
  order: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003222}}
#setup-testers #setup-testers-inner div#setup-testers-right img {
  max-width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003228}}
#block-responsive-dropdown-menus-menu-microsite-linkware-live-top {
  background-color: transparent;
  box-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003232}}
#block-responsive-dropdown-menus-menu-microsite-linkware-live-top .content {
  background-color: #293f6a;
  opacity: 0.9;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  border: 1px solid white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003240}}
#block-responsive-dropdown-menus-menu-microsite-linkware-live-top .menu-toggle {
  margin: 1em 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003243}}
#block-responsive-dropdown-menus-menu-microsite-linkware-live-top .menu-toggle .toggle-help {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003248}}
#block-responsive-dropdown-menus-menu-microsite-linkware-live-top.main-nav-scrolled {
  position: absolute;
  top: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003253}}
#block-responsive-dropdown-menus-menu-microsite-linkware-live-top ul {
  text-align: left;
  padding: 0.5em 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003257}}
#block-responsive-dropdown-menus-menu-microsite-linkware-live-top ul li {
  display: block;
  font-size: 1em;
  float: none;
  padding: 1em 0;
  border-top: 1px solid #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003264}}
#block-responsive-dropdown-menus-menu-microsite-linkware-live-top ul li.mobile-no {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003268}}
#block-responsive-dropdown-menus-menu-microsite-linkware-live-top ul li:first-of-type {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003272}}
#block-responsive-dropdown-menus-menu-microsite-linkware-live-top ul li:nth-of-type(2) a {
  background: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003276}}
#block-responsive-dropdown-menus-menu-microsite-linkware-live-top ul li.last {
  border-top: none;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003281}}
#block-responsive-dropdown-menus-menu-microsite-linkware-live-top ul li a {
  display: inline;
  font-size: 1em;
  padding: 1em 0 1em 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/fnetdrupal7\/sites\/flukenetworks\.com\/themes\/linkwarelive\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\00003286}}
#block-responsive-dropdown-menus-menu-microsite-linkware-live-top ul li a.menu-sign-in {
  display: block;
  text-shadow: 1px 1px 4px #333333;
  font-weight: 700;
  font-size: 1.15em;
  border-radius: 4px;
  color: white;
  background: #fec10e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fec10e 0%, #d29d00 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fec10e), color-stop(100%, #d29d00));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fec10e 0%, #d29d00 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fec10e 0%, #d29d00 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fec10e 0%, #d29d00 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fec10e 0%, #d29d00 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fec10e', endColorstr='#d29d00', GradientType=0);
  /* IE6-9 */
}
